@using System.Net
@using System.Net.Http
@using Microsoft.AspNetCore.Blazor.Browser.Http
@using Microsoft.AspNetCore.Blazor.Browser.Services
@page "/WorldCupPlayers"
@inject HttpClient HttpClient

<h1>Current Players</h1>

<p>This component shows all the current players.</p>


@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Player</th>
                <th>Assigned Team</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>

        @for (int i = 0; i < players.Length; i++)
        {
            <tr>
                <td>@players[i]</td>
                <td>@assignedTeams[i]</td>
                <td>@playersAddresses[i]</td>
            </tr>
        }
        </tbody>
    </table>
}

@functions {
    string[] players;
    string[] assignedTeams;
    string[] playersAddresses;
    string contractAddress = "mtLrJ42YSW3DEXV1oaaRB5VEg2ULg4rN7N";

    protected override async Task OnInitAsync()
    {
        var playersCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=PlayersNickNames&DataType=String");
        var assignedTeamsCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=AssignedTeamsCsv&DataType=String");
        var playerAddressesCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=PlayersCsv&DataType=String");

        players = playersCsv.Trim('"').Split(',');
        assignedTeams = assignedTeamsCsv.Trim('"').Split(',');
        playersAddresses = playerAddressesCsv.Trim('"').Split(',');

    }
}
