@using System.Net
@using System.Net.Http
@using Microsoft.AspNetCore.Blazor.Browser.Http
@using Microsoft.AspNetCore.Blazor.Browser.Services
@page "/WorldCupPlayers"
@inject HttpClient HttpClient

<h1>World cup players</h1>

<p>1st place: 70%, 2nd place: 20%, 3rd place: 10% - see current <a href="https://chainz.cryptoid.info/strat/address.dws?SUafKZov6BmRgsFxtMhEKoPSWxEdodjEqd.htm">prize fund</a>.</p>


@if (players == null)
{
    <p><em>Retreiving contract information...</em></p>
}
else
{
    <table class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Player</th>
                <th>Assigned Team</th>
                @*<th>Address</th>*@
            </tr>
        </thead>
        <tbody>

        @for (int i = 0; i < players.Length; i++)
        {
            <tr style="@getStyle(assignedTeams[i])">
            <td>@players[i]</td>
            <td>@assignedTeams[i]</td>
            @*<td>@playersAddresses[i]</td>*@
        </tr>
        }
        </tbody>
    </table>
}

@functions {
    string[] players;
    string[] assignedTeams;
    string[] playersAddresses;
    string contractAddress = "mtLrJ42YSW3DEXV1oaaRB5VEg2ULg4rN7N";

    List<string> remainingTeams = new List<string>() {"brazil", "belgium", "france", "uruguay", "england", "sweden", "russia", "croatia"};

    protected override async Task OnInitAsync()
    {
        var playersCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=PlayersNickNames&DataType=String");
        var assignedTeamsCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=AssignedTeamsCsv&DataType=String");
        var playerAddressesCsv = await HttpClient.GetStringAsync("http://localhost:38220/api/SmartContracts/storage?ContractAddress=" + contractAddress + "&StorageKey=PlayersCsv&DataType=String");

        players = playersCsv.Trim('"').Split(',');
        assignedTeams = assignedTeamsCsv.Trim('"').Split(',');
        playersAddresses = playerAddressesCsv.Trim('"').Split(',');

    }

    private string getStyle(string assignedTeam)
    {
        if (remainingTeams.Contains(assignedTeam))
        {
            return string.Empty;
        }
        return "text-decoration-line: line-through; color:red";
    }

}